<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>COTINUE</title>
	<link href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" type="text/css" href="csslogin/htmleaf-demo.css"> -->
	<link href="csslogin/signin.css" rel="stylesheet">
</head>
<body>
	<div class="htmleaf-container">
		<header class="htmleaf-header">
			<h1>COTINUE...</h1>
		</header>
		<div class="signin">
			<div class="signin-head"><img src="imagelogin/test/head_120.png" alt="" class="img-circle"></div>
			<h3>Hi <%= user_name %>,You login successfully</h3>
			<h4 > <a href="index.html">Click here to Continue</a></h4>
				
			
		</div>
	</div>
	
</body>
</html>
