@font-face {
  font-family: 'Cinzel Decorative';
  font-style: normal;
  font-weight: 400;
  src: local('Cinzel Decorative Regular'), local('CinzelDecorative-Regular'), url(http://fonts.gstatic.com/s/cinzeldecorative/v5/fmgK7oaJJIXAkhd9798yQl4jZHmtnl4mfN0ClpLnj0E.woff2) format('woff2');
}
